body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#menu {
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	padding: 5px;
	font-family: "Open Sans", sans-serif;
}
